html{
    background-image: url(https://media0.giphy.com/media/MU56lYT1Ov07fVTsnM/giphy-downsized-large.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.link{
    text-decoration: none;
}

#header{
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #5A0B98;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

#header .nav{
    height: 100%;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

#header .nav_content{
    
}

#header .nav_content a{
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    padding: 16px;
    font-size: 1.6rem;
}

#header .nav_content:hover a{
    color: #000;
    background-color: #ccc;
    animation: fadeIn ease-in 0.3s;
    cursor: pointer;
}

.banner{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
    max-height: 350px;
    height: 30vw;
    border-radius: 60px;
    border: 3px solid #000;
    background-image: url(https://i.pinimg.com/originals/07/f6/f1/07f6f1a1183615fb6eea8c75500c61da.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.group_name{
    height: 3.6rem;
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3.6rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.content__header{
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 28px;
    margin-bottom: 0;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--black);
}

.content__subhead{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--black);
}

.member_box-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member_box{
    display: flex;
    margin-top: 64px;
    max-width: 575px;
    padding: 0 10px;
}

.member_img{
    max-width: 16rem;
    max-height: 27rem;
    border-radius: 18px;
    margin-right: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.member_info{
    width: 40rem;
    max-height: 27rem;
    background-image: linear-gradient(0, rgba(50, 10, 66, 0.5), #D066F4);
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.member_info .member_name{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}


.member_info .member_id{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}


.member_info .member_social{
    list-style-type: none;
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding: 0 14px;
}

.member_social .member_social__icon{
    color: #DDA8F0;
    font-size: 5rem;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

#assignment{
    margin: 0 -10px;
    background-image: linear-gradient(0, rgba(50, 10, 66, 0.5), #D066F4);
}

.assignment__banner{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
    max-height: 350px;
    height: 30vw;
    border-radius: 60px;
    border: 3px solid #000;
    background-image: url(https://i.pinimg.com/originals/07/f6/f1/07f6f1a1183615fb6eea8c75500c61da.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.assignment__disc{
    color: #fff;
    text-align: center;
    line-height: 1.6;
    font-size: 1.6rem;
}

.assignment__link{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(57, 98, 230);
}

.assignment__link:hover{
    opacity: 0.7;
}

#footer{
    display: flex;
    flex-direction: column;
    margin: 64px;
}

.footer__header{
    color: #fff;
    align-self: center;
    font-size: 1.6rem;
    margin: 24px;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--white);
}

.footer__members{
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--white);
    justify-content: space-around;
}

.footer__member{

}
