html{
    background-image: url(https://th.bing.com/th/id/R.a75b1aabfe0905667786aa177c95ebfc?rik=WlBDI%2f8TUBBBMA&pid=ImgRaw&r=0);
    background-repeat: repeat;
    background-size: contain;
    height: auto;
}

.link{
    text-decoration: none;
}

#header{
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; 
    background-color: var(--primary-color);   
    /* background-image: linear-gradient(0, rgba(66, 52, 71, 0.5), #D066F4); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

#header .nav{
    height: 100%;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

#header .nav_content{
    
}

#header .nav_content a{
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding: 16px;
    font-size: 1.6rem;
}

#header .nav_content:hover a{
    color: #dda8f0;
    animation: fadeIn ease-in 0.1s;
    cursor: pointer;
}

.banner{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
    max-height: 350px;
    height: 30vw;
    border-radius: 60px;
    border: 3px solid #000;
    background-image: url(https://i.pinimg.com/originals/07/f6/f1/07f6f1a1183615fb6eea8c75500c61da.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.group_name{
    height: 3.6rem;
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3.6rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.content__header{
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 28px;
    margin-bottom: 0;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--black);
}

.content__subhead{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--black);
}

.member_box-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member_box{
    display: flex;
    margin-top: 64px;
    max-width: 575px;
    padding: 0 10px;
}

.member_img{
    max-width: 16rem;
    max-height: 27rem;
    border-radius: 18px;
    margin-right: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.member_info{
    width: 40rem;
    max-height: 27rem;
    background-image: linear-gradient(0, rgba(50, 10, 66, 0.5), #D066F4);
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.member_info .member_name{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}


.member_info .member_id{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}


.member_info .member_social{
    list-style-type: none;
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding: 0 14px;
}

.member_social .member_social__icon{
    color:#c962e7;
    font-size: 5rem;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.member_social .member_social__icon:hover{
    color: #d486ee;
}

#assignment{
    padding: 36px 0;
    margin: 12px -10px;
    background-image: linear-gradient(0, rgba(50, 10, 66, 0.5), #D066F4);
}

.assignment__banner{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
    max-height: 350px;
    height: 30vw;
    border-radius: 60px;
    border: 3px solid #000;
    background-image: url(https://th.bing.com/th/id/R.d72cb1154bbbe54ad6254704fb236b7c?rik=pRUAGD8SI9Yskg&riu=http%3a%2f%2fwww.electricsaver1200.com%2fwp-content%2fuploads%2f2014%2f12%2fimportant-note.png&ehk=ikulnvPLkrO%2fZfRQ4iOfemDTKRg5qZOJorAU9o7DJB8%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.assignment__disc{
    color: #fff;
    text-align: center;
    line-height: 1.6;
    font-size: 1.6rem;
}

.assignment__container{
}

.code-assignment__link{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
}

.assignment__link{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(157 71 182);
}

.final-assignment__link{
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(57, 98, 230);
    animation: slide__LR ease-in 0.5s alternate infinite paused;
}

.final-assignment__link:hover,
.assignment__link:hover{
    opacity: 0.7;
}

.final-assignment__link:hover{
    animation: slide__LR ease-in 0.5s alternate infinite running;
}

.assignment__container{
    display: flex;
    flex-direction: column;
}

.small__assignment{
    display: flex;
    justify-content: space-around;
}

.small__assignment-item{
    text-align: center;
    display: block;
    flex: 1;
    max-width: 200px;
}

.assignment__disc--small{
    margin-bottom: 0;
}

.assignment__icon{
    font-size: 4rem;
    color: var(--icon-color);
    margin: 12px 0;
}

.final__assignment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final__assignment a{
    max-width: 200px;
}

/* footer */
#footer{
    display: flex;
    flex-direction: column;
    margin: 64px;
}

.footer__header{
    color: #fff;
    align-self: center;
    font-size: 1.6rem;
    margin: 24px;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--white);
}

.footer__members{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 0 0 1px var(--white);
    justify-content: space-around;
}

.footer__member{
    margin: 12px 0;
}
